.section {
  background: #f3f3f3;
  padding-top: 88px;
}

.container {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.list {
  list-style: "none";
  padding: 0;
  margin-bottom: 64px;
}
.filter {
  margin-top: 90px;
  margin-left: 96px;
}
.btn:hover {
  background-color: var(--white);
  color: var(--main);
}
