.container {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

  margin-bottom: 25px;
}
.container:last-child {
  margin-bottom: 0;
}
.containerFlex {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background: var(--second);
}

.avatarLetter {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--main);
}

.DescripContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--text-main);
}

.rating {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-main);
  display: flex;
  gap: 8px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}
