.hero {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ровно две равные колонки */
  min-height: 100vh;
  width: 100%;
}

.leftSide {
  background: var(--main);

  /* padding: 251px 64px 163px 96px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSide {
  background-image: linear-gradient(rgba(18, 20, 23, 0.6)), url("/homeBg.jpg");

  background-size: cover;
  background-position: center;
}

.content {
  max-width: 517px;
  margin: 163px 64px 96px 163px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fbfbfb;

  margin-bottom: 28px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  margin-bottom: 64px;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 18px;
  padding: 18px 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  color: #fbfbfb;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  background: transparent;
}

.button:hover {
  /* background-color: var(--main); */
  /* color: #f03f3b; */
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.button:hover .arrow {
  transform: rotate(55deg);
}

.arrow svg {
  fill: currentColor;
}

/* Белая плашка со статистикой */
.statsBadge {
  position: absolute;
  bottom: 50px;
  right: 50px;

  width: 294px;
  height: 118px;

  background: white;
  padding: 32px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.checkIcon {
  background: var(--main);
  width: 54px;
  height: 54px;
  padding: 19.5px 17px;
  border-radius: 13px;
}
.statsLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 6px;
}
.statsCount {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}
