.btn {
  padding: 14px 40px;
  border-radius: 30px;
  background: var(--main);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--bg-second);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
