:root {
  --main: #f03f3b;
  --second: #f1cecd;
  --bg-main: #f3f3f3;
  --bg-second: #fbfbfb;
  --hover: rgba(240, 63, 59, 0.2);

  --text-main: #11101c;
  --text-second: #8a8a89;

  --font-family: var(--font-inter), sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;

  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  width: 100%;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul[class],
ol[class] {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
