:root {
  --main: #dc2626;
  --second: #ffe4e6;

  --bg-main: #f8fafc;
  --bg-second: #ffffff;

  --hover: rgba(239, 68, 68, 0.12);

  --text-main: #0f172a;
  --text-second: #6b7280;

  --font-family: var(--font-inter), sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;

  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  width: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* sonner toaster */
[data-sonner-toast] [data-icon] {
  width: 30px !important;
  height: 30px !important;
  flex-shrink: 0;
}

[data-sonner-toast] [data-icon] svg {
  width: 30px !important;
  height: 30px !important;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul[class],
ol[class] {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
