.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    min-height: auto;
  }
}

.leftSide {
  background: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 517px;
  margin: 163px 64px 96px 96px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--bg-second);
  margin-bottom: 28px;
}

@media (max-width: 900px) {
  .title {
    font-size: 48px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: var(--bg-second);
  margin-bottom: 64px;
}

@media (max-width: 900px) {
  .text {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 18px;
  padding: 18px 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  color: var(--bg-second);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  background: transparent;
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.button:hover .arrow {
  transform: rotate(55deg);
}

.statsBadge {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 294px;
  height: 118px;
  background: white;
  padding: 32px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .statsBadge {
    bottom: 20px;
    right: 20px;
    width: 260px;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .statsBadge {
    position: static;
    /* width: 100%; */
    margin-top: 20px;
    margin-left: 20px;
  }
}

.checkIcon {
  background: var(--main);
  width: 54px;
  height: 54px;
  padding: 19.5px 17px;
  border-radius: 13px;
  flex-shrink: 0;
}
.statsLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 6px;
}
.statsCount {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--text-main);
}
