.header {
  position: absolute; /* Чтобы лежал поверх картинки */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  width: 100%;
  height: 88px;

  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}
.logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.leftSide {
  flex: 1; /* Ровно 50% ширины */
  display: flex;
  align-items: center;
  padding-left: 96px;
  margin-right: 40px;
}

.leftSide a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.rightSide {
  flex: 1; /* Ровно 50% ширины */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 96px;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  margin-right: 92px;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  width: 128px;
  height: 48px;
  background: transparent;
  color: white;
}

.regBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 168px;
  height: 48px;
  color: white;
  border: none;
  outline: none;

  background: var(--main);
}
